[defaults]
inventory = inventories/aws-kubeadm/hosts.ini
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
local_tmp = /tmp/ansible-local

[ssh_connection]
control_path_dir = /tmp/ansible-cp
pipelining = True
